{% extends 'consultorioCys/base_generic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historiales | Consultorio Cys</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

    <link rel="stylesheet" href="/static/consultorioCys/css/general.css" />
    <link rel="shortcut icon" href="{% static 'consultorioCys/img/hearth-back.png' %}" type="image/x-icon" />
  </head>

  <body class="d-flex flex-column min-vh-100">
    {% block content %}
      <div class="container my-5">
        <div class="row align-items-center">
          <!-- Columna de Texto e Inicio de Sesión -->
          <div class="col-lg-6 text-center text-lg-start mb-4 mb-lg-0">
            <h1 class="display-4 fw-bold">Accede a tu Historial Médico</h1>
            <p class="lead">Inicia sesión para consultar tu historial médico y gestionar tus documentos.</p>
            <div class="mt-4">
              {% if user.is_authenticated %}
                <a href="#" class="btn btn-warning btn-lg me-2">Ver Historiales</a>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-warning btn-lg me-2">Iniciar Sesión</a>
              {% endif %}
            </div>
          </div>

          <!-- Imagen -->
          <div class="col-lg-6 d-flex justify-content-center">
            <div class="position-relative" style="max-width: 100%;">
              <img src="{% static 'consultorioCys/img/vec.png' %}" class="img-fluid rounded" alt="Ilustración médica" />
              <div class="position-absolute bottom-0 end-0 p-1" style="font-size: 0.75rem;">
                <small>
                  Designed by
                  <a href="https://www.freepik.com" target="_blank" class="text-decoration-none text-muted">Freepik</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- JavaScript -->
      <script>
        function handleNavbarDisplay() {
          const navbarContent = document.getElementById('navbarSupportedContent')
          if (window.innerWidth >= 992) {
            navbarContent.classList.add('show')
          } else {
            navbarContent.classList.remove('show')
          }
        }
        
        window.addEventListener('load', handleNavbarDisplay)
        window.addEventListener('resize', handleNavbarDisplay)
      </script>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
